gateway/flows.json
[
  {"id":"sl-mqtt-broker","type":"mqtt-broker","name":"localhost Mosquitto","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},

  {"id":"ui-base","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"primary":"#00d4ff","bgSidebar":"#1a1f2e","bgCanvas":"#0d1117","bgWidget":"#161b27","text":"#e2e8f0","textSidebar":"#e2e8f0","groupBorderColor":"#2d3748","groupTextColor":"#00d4ff","widgetColor":"#e2e8f0","headerBg":"#0d1117","headerText":"#00d4ff"},"darkTheme":{"primary":"#00d4ff","bgSidebar":"#1a1f2e","bgCanvas":"#0d1117","bgWidget":"#161b27","text":"#e2e8f0","textSidebar":"#e2e8f0","groupBorderColor":"#2d3748","groupTextColor":"#00d4ff","widgetColor":"#e2e8f0","headerBg":"#0d1117","headerText":"#00d4ff"},"customTheme":{"name":"theme-custom","primary":"#00d4ff","bgSidebar":"#1a1f2e","bgCanvas":"#0d1117","bgWidget":"#161b27","text":"#e2e8f0","textSidebar":"#e2e8f0","groupBorderColor":"#2d3748","groupTextColor":"#00d4ff","widgetColor":"#e2e8f0","headerBg":"#0d1117","headerText":"#00d4ff"},"themeState":{"base-color":{"value":"#00d4ff","type":"theme"},"page-titlebar-backgroundColor":{"value":"#0d1117","type":"theme"},"page-backgroundColor":{"value":"#0d1117","type":"theme"},"page-sidebar-backgroundColor":{"value":"#1a1f2e","type":"theme"},"group-textColor":{"value":"#00d4ff","type":"theme"},"group-borderColor":{"value":"#2d3748","type":"theme"},"group-backgroundColor":{"value":"#161b27","type":"theme"},"widget-textColor":{"value":"#e2e8f0","type":"theme"},"widget-backgroundColor":{"value":"#161b27","type":"theme"},"widget-borderColor":{"value":"#2d3748","type":"theme"},"base-font":{"value":"-apple-system,BlinkMacSystemFont,\"Segoe UI\",Inter,sans-serif"}}},"site":{"name":"SmartLock Control Center","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},

  {"id":"sl-ui-tab","type":"ui_tab","name":"SmartLock Control Center","icon":"lock","order":1,"disabled":false,"hidden":false},

  {"id":"sl-grp-overview","type":"ui_group","name":"Overview","tab":"sl-ui-tab","order":1,"disp":true,"width":"12","collapse":false},
  {"id":"sl-grp-door","type":"ui_group","name":"Door Status","tab":"sl-ui-tab","order":2,"disp":true,"width":"6","collapse":false},
  {"id":"sl-grp-activity","type":"ui_group","name":"Activity","tab":"sl-ui-tab","order":3,"disp":true,"width":"6","collapse":false},
  {"id":"sl-grp-whitelist","type":"ui_group","name":"Whitelist","tab":"sl-ui-tab","order":4,"disp":true,"width":"12","collapse":false},

  {"id":"sl-flow-tab","type":"tab","label":"SmartLock Flow","disabled":false,"info":"SmartLock IoT Access Control"},

  {"id":"mqtt-in-tlm","type":"mqtt in","z":"sl-flow-tab","name":"GUID/telemetry","topic":"GUID/telemetry","qos":"0","datatype":"json","broker":"sl-mqtt-broker","x":120,"y":80,"wires":[["fn-route"]]},

  {"id":"fn-route","type":"function","z":"sl-flow-tab","name":"fn-route","func":"var t = msg.payload.type;\nif (t === 'uid')   return [msg, null, null];\nif (t === 'state') return [null, msg, null];\nif (t === 'ready') return [null, null, msg];\nreturn [null, null, null];","outputs":3,"x":310,"y":80,"wires":[["fn-whitelist-check"],["fn-state-update"],["fn-ready"]]},

  {"id":"fn-whitelist-check","type":"function","z":"sl-flow-tab","name":"fn-whitelist-check","func":"var wl = flow.get('whitelist');\nif (!wl) { wl = ['4C8A285D']; flow.set('whitelist', wl); }\nvar uid = (msg.payload.uid || '').toUpperCase().trim();\nvar authorized = wl.indexOf(uid) !== -1;\nvar now = new Date();\nvar ts = now.toLocaleTimeString('en-GB', {hour:'2-digit',minute:'2-digit',second:'2-digit'});\nvar entry = {ts: ts, uid: uid, ok: authorized, epoch: now.getTime()};\nvar history = flow.get('history') || [];\nhistory.unshift(entry);\nif (history.length > 20) history = history.slice(0, 20);\nflow.set('history', history);\nvar counts = flow.get('counts') || {total:0, auth:0, denied:0};\ncounts.total = (counts.total || 0) + 1;\nif (authorized) { counts.auth = (counts.auth || 0) + 1; } else { counts.denied = (counts.denied || 0) + 1; }\nflow.set('counts', counts);\nflow.set('lastUID', uid);\nflow.set('lastVerdict', authorized ? 'AUTHORIZED' : 'DENIED');\nflow.set('lastTs', ts);\nvar cmd = authorized ? 'open' : 'alarm';\nvar cmdMsg = {topic: 'GUID/commands', payload: cmd};\nvar statsMsg = {payload: {history: history, counts: counts, lastUID: uid, lastVerdict: authorized ? 'AUTHORIZED' : 'DENIED', lastTs: ts}};\nreturn [cmdMsg, statsMsg];","outputs":2,"x":540,"y":60,"wires":[["mqtt-out-cmd"],["fn-stats-dispatch"]]},

  {"id":"fn-stats-dispatch","type":"function","z":"sl-flow-tab","name":"fn-stats-dispatch","func":"var d = msg.payload;\nvar counts = d.counts;\nvar history = d.history;\nvar lastUID = d.lastUID;\nvar lastVerdict = d.lastVerdict;\nvar lastTs = d.lastTs;\nvar msg1 = {payload: counts.total};\nvar msg2 = {payload: counts.auth};\nvar msg3 = {payload: counts.denied};\nvar msg4 = {payload: {uid: lastUID, verdict: lastVerdict, ts: lastTs}};\nvar msg5 = {payload: history};\nvar now = Date.now();\nvar bucket = Math.floor(now / 60000);\nvar scanBuckets = flow.get('scanBuckets') || {};\nscanBuckets[bucket] = (scanBuckets[bucket] || 0) + 1;\nvar cutoff = bucket - 15;\nvar keys = Object.keys(scanBuckets).map(Number);\nkeys.forEach(function(k){ if (k < cutoff) { delete scanBuckets[k]; } });\nflow.set('scanBuckets', scanBuckets);\nvar chartPoints = [];\nfor (var i = 14; i >= 0; i--) {\n  var b = bucket - i;\n  var label = (14 - i) + 'm';\n  chartPoints.push({x: label, y: scanBuckets[b] || 0});\n}\nvar msg6 = {topic: 'Scans/min', payload: chartPoints.map(function(p){ return p.y; })};\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"x":800,"y":60,"wires":[["ui-card-total"],["ui-card-auth"],["ui-card-denied"],["ui-card-last"],["ui-timeline"],["ui-chart-scans"]]},

  {"id":"ui-card-total","type":"ui_template","z":"sl-flow-tab","group":"sl-grp-overview","order":1,"width":"3","height":"2","name":"ui-card-total","format":"<style>.slct{background:#161b27;border:1px solid #2d3748;border-radius:10px;padding:16px 20px;font-family:Inter,system-ui,sans-serif;text-align:center}.slct .lbl{font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#64748b;margin-bottom:8px}.slct .val{font-size:42px;font-weight:700;color:#00d4ff;line-height:1}.slct .sub{font-size:11px;color:#475569;margin-top:6px}</style><div class=\"slct\"><div class=\"lbl\">Total Scans</div><div class=\"val\">{{msg.payload || 0}}</div><div class=\"sub\">all attempts today</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":20,"wires":[[]]},

  {"id":"ui-card-auth","type":"ui_template","z":"sl-flow-tab","group":"sl-grp-overview","order":2,"width":"3","height":"2","name":"ui-card-auth","format":"<style>.slca{background:#161b27;border:1px solid #2d3748;border-radius:10px;padding:16px 20px;font-family:Inter,system-ui,sans-serif;text-align:center}.slca .lbl{font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#64748b;margin-bottom:8px}.slca .val{font-size:42px;font-weight:700;color:#10b981;line-height:1}.slca .sub{font-size:11px;color:#475569;margin-top:6px}</style><div class=\"slca\"><div class=\"lbl\">Authorized</div><div class=\"val\">{{msg.payload || 0}}</div><div class=\"sub\">granted access</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":60,"wires":[[]]},

  {"id":"ui-card-denied","type":"ui_template","z":"sl-flow-tab","group":"sl-grp-overview","order":3,"width":"3","height":"2","name":"ui-card-denied","format":"<style>.slcd{background:#161b27;border:1px solid #2d3748;border-radius:10px;padding:16px 20px;font-family:Inter,system-ui,sans-serif;text-align:center}.slcd .lbl{font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#64748b;margin-bottom:8px}.slcd .val{font-size:42px;font-weight:700;color:#ef4444;line-height:1}.slcd .sub{font-size:11px;color:#475569;margin-top:6px}</style><div class=\"slcd\"><div class=\"lbl\">Denied</div><div class=\"val\">{{msg.payload || 0}}</div><div class=\"sub\">rejected attempts</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":100,"wires":[[]]},

  {"id":"ui-card-last","type":"ui_template","z":"sl-flow-tab","group":"sl-grp-overview","order":4,"width":"3","height":"2","name":"ui-card-last","format":"<style>.slcl{background:#161b27;border:1px solid #2d3748;border-radius:10px;padding:16px 20px;font-family:Inter,system-ui,sans-serif;text-align:center}.slcl .lbl{font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#64748b;margin-bottom:8px}.slcl .uid{font-size:20px;font-weight:700;font-family:'Courier New',monospace;color:#f8fafc;letter-spacing:2px}.slcl .badge{font-size:10px;font-weight:700;letter-spacing:1px;margin-top:6px;padding:3px 10px;border-radius:20px;display:inline-block}.slcl .ok{background:#064e3b;color:#34d399}.slcl .deny{background:#7f1d1d;color:#fca5a5}.slcl .ts{font-size:10px;color:#475569;margin-top:4px}</style><div class=\"slcl\"><div class=\"lbl\">Last Scan</div><div class=\"uid\">{{msg.payload.uid || '—'}}</div><div ng-if=\"msg.payload.verdict\" class=\"badge\" ng-class=\"msg.payload.verdict === 'AUTHORIZED' ? 'ok' : 'deny'\">{{msg.payload.verdict}}</div><div class=\"ts\">{{msg.payload.ts || ''}}</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":140,"wires":[[]]},

  {"id":"fn-state-update","type":"function","z":"sl-flow-tab","name":"fn-state-update","func":"var state = (msg.payload.state || 'LOCKED').toUpperCase();\nflow.set('doorState', state);\nmsg.payload = state;\nreturn msg;","outputs":1,"x":520,"y":180,"wires":[["ui-hero-state"]]},

  {"id":"ui-hero-state","type":"ui_template","z":"sl-flow-tab","group":"sl-grp-door","order":1,"width":"6","height":"4","name":"ui-hero-state","format":"<style>.sl-hero{display:flex;flex-direction:column;align-items:center;justify-content:center;height:160px;border-radius:12px;font-family:Inter,system-ui,sans-serif;transition:background 0.6s ease,box-shadow 0.6s ease;margin-bottom:8px}.sl-hero.OPEN{background:linear-gradient(135deg,#064e3b,#065f46);box-shadow:0 0 40px rgba(16,185,129,0.35)}.sl-hero.LOCKED{background:linear-gradient(135deg,#1e293b,#334155);box-shadow:0 0 20px rgba(0,0,0,0.4)}.sl-hero.ALARM{background:linear-gradient(135deg,#7f1d1d,#991b1b);box-shadow:0 0 40px rgba(239,68,68,0.5);animation:pulse-alarm 1s ease-in-out infinite alternate}@keyframes pulse-alarm{from{box-shadow:0 0 20px rgba(239,68,68,0.3)}to{box-shadow:0 0 60px rgba(239,68,68,0.8)}}.sl-hero-icon{font-size:52px;margin-bottom:10px}.sl-hero-state{font-size:32px;font-weight:800;letter-spacing:4px}.sl-hero.OPEN .sl-hero-state{color:#34d399}.sl-hero.LOCKED .sl-hero-state{color:#94a3b8}.sl-hero.ALARM .sl-hero-state{color:#fca5a5}.sl-hero-sub{font-size:11px;letter-spacing:2px;text-transform:uppercase;margin-top:6px;opacity:0.6}</style><div class=\"sl-hero {{msg.payload || 'LOCKED'}}\"><div class=\"sl-hero-icon\">{{msg.payload === 'OPEN' ? '🔓' : msg.payload === 'ALARM' ? '🚨' : '🔒'}}</div><div class=\"sl-hero-state\">{{msg.payload || 'LOCKED'}}</div><div class=\"sl-hero-sub\">door state</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":180,"wires":[[]]},

  {"id":"ui-btn-open","type":"ui_button","z":"sl-flow-tab","group":"sl-grp-door","order":2,"width":"2","height":"1","passthru":false,"label":"OPEN","tooltip":"Unlock the door","color":"#fff","bgcolor":"#059669","icon":"fa-unlock","payload":"open","payloadType":"str","topic":"GUID/commands","x":120,"y":280,"wires":[["mqtt-out-cmd"]]},
  {"id":"ui-btn-lock","type":"ui_button","z":"sl-flow-tab","group":"sl-grp-door","order":3,"width":"2","height":"1","passthru":false,"label":"LOCK","tooltip":"Lock the door","color":"#fff","bgcolor":"#334155","icon":"fa-lock","payload":"lock","payloadType":"str","topic":"GUID/commands","x":120,"y":320,"wires":[["mqtt-out-cmd"]]},
  {"id":"ui-btn-alarm","type":"ui_button","z":"sl-flow-tab","group":"sl-grp-door","order":4,"width":"2","height":"1","passthru":false,"label":"ALARM","tooltip":"Trigger alarm","color":"#fff","bgcolor":"#dc2626","icon":"fa-exclamation-triangle","payload":"alarm","payloadType":"str","topic":"GUID/commands","x":120,"y":360,"wires":[["mqtt-out-cmd"]]},

  {"id":"mqtt-out-cmd","type":"mqtt out","z":"sl-flow-tab","name":"GUID/commands","topic":"GUID/commands","qos":"0","retain":"false","broker":"sl-mqtt-broker","x":360,"y":320,"wires":[]},

  {"id":"ui-timeline","type":"ui_template","z":"sl-flow-tab","group":"sl-grp-activity","order":1,"width":"6","height":"6","name":"ui-timeline","format":"<style>.sl-tl{font-family:Inter,system-ui,sans-serif;height:240px;overflow-y:auto}.sl-tl::-webkit-scrollbar{width:4px}.sl-tl::-webkit-scrollbar-track{background:#0d1117}.sl-tl::-webkit-scrollbar-thumb{background:#2d3748;border-radius:2px}.sl-tl-hdr{display:grid;grid-template-columns:80px 1fr 70px;gap:8px;padding:6px 10px;border-bottom:1px solid #2d3748;font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#64748b}.sl-tl-row{display:grid;grid-template-columns:80px 1fr 70px;gap:8px;padding:7px 10px;border-bottom:1px solid #1e293b;font-size:12px}.sl-tl-row.ok{border-left:3px solid #10b981}.sl-tl-row.deny{border-left:3px solid #ef4444}.sl-tl-ts{color:#64748b;font-size:11px}.sl-tl-uid{font-family:'Courier New',monospace;letter-spacing:1px;color:#e2e8f0;font-size:12px}.sl-tl-badge{font-size:10px;font-weight:700;padding:2px 7px;border-radius:20px;text-align:center}.ok .sl-tl-badge{background:#064e3b;color:#34d399}.deny .sl-tl-badge{background:#7f1d1d;color:#fca5a5}</style><div class=\"sl-tl\"><div class=\"sl-tl-hdr\"><span>Time</span><span>UID</span><span>Result</span></div><div ng-repeat=\"e in msg.payload track by $index\" class=\"sl-tl-row\" ng-class=\"e.ok ? 'ok' : 'deny'\"><span class=\"sl-tl-ts\">{{e.ts}}</span><span class=\"sl-tl-uid\">{{e.uid}}</span><span class=\"sl-tl-badge\">{{e.ok ? 'OK' : 'DENY'}}</span></div><div ng-if=\"!msg.payload || msg.payload.length === 0\" style=\"padding:20px;text-align:center;color:#475569;font-size:12px\">No events yet — waiting for RFID scans...</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":200,"wires":[[]]},

  {"id":"ui-chart-scans","type":"ui_chart","z":"sl-flow-tab","group":"sl-grp-activity","order":2,"width":"6","height":"4","label":"Scans per minute (15 min)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Awaiting data...","dot":false,"ymin":"0","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":"0","useOneColor":false,"colors":["#00d4ff","#10b981","#ef4444","#f59e0b","#8b5cf6","#ec4899","#14b8a6","#f97316","#6366f1"],"outputs":1,"useDifferentColor":false,"x":1060,"y":260,"wires":[[]]},

  {"id":"ui-wl-input","type":"ui_text_input","z":"sl-flow-tab","name":"ui-wl-input","label":"Enter UID (hex, e.g. 4C8A285D)","tooltip":"Type a UID and click Add or Remove","group":"sl-grp-whitelist","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":"300","topic":"wl_uid","sendOnBlur":true,"x":120,"y":440,"wires":[["fn-wl-capture"]]},

  {"id":"fn-wl-capture","type":"function","z":"sl-flow-tab","name":"fn-wl-capture","func":"flow.set('wl_pending_uid', (msg.payload || '').toUpperCase().trim());\nreturn null;","outputs":1,"x":340,"y":440,"wires":[[]]},

  {"id":"ui-btn-wl-add","type":"ui_button","z":"sl-flow-tab","group":"sl-grp-whitelist","order":2,"width":"2","height":"1","passthru":false,"label":"Add UID","tooltip":"Add UID to whitelist","color":"#fff","bgcolor":"#0369a1","icon":"fa-plus","payload":"add","payloadType":"str","topic":"","x":120,"y":480,"wires":[["fn-wl-mutate"]]},

  {"id":"ui-btn-wl-rm","type":"ui_button","z":"sl-flow-tab","group":"sl-grp-whitelist","order":3,"width":"2","height":"1","passthru":false,"label":"Remove UID","tooltip":"Remove UID from whitelist","color":"#fff","bgcolor":"#92400e","icon":"fa-minus","payload":"remove","payloadType":"str","topic":"","x":120,"y":520,"wires":[["fn-wl-mutate"]]},

  {"id":"fn-wl-mutate","type":"function","z":"sl-flow-tab","name":"fn-wl-mutate","func":"var uid = (flow.get('wl_pending_uid') || '').toUpperCase().trim();\nvar wl = flow.get('whitelist') || ['4C8A285D'];\nif (!uid) {\n  msg.payload = wl;\n  return msg;\n}\nif (msg.payload === 'add' && wl.indexOf(uid) === -1) {\n  wl.push(uid);\n}\nif (msg.payload === 'remove') {\n  wl = wl.filter(function(x){ return x !== uid; });\n}\nflow.set('whitelist', wl);\nmsg.payload = wl;\nreturn msg;","outputs":1,"x":340,"y":500,"wires":[["ui-wl-display"]]},

  {"id":"ui-wl-display","type":"ui_template","z":"sl-flow-tab","group":"sl-grp-whitelist","order":4,"width":"12","height":"3","name":"ui-wl-display","format":"<style>.sl-wl{font-family:Inter,system-ui,sans-serif}.sl-wl-title{font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#64748b;margin-bottom:10px}.sl-wl-list{display:flex;flex-wrap:wrap;gap:8px}.sl-wl-chip{background:#1e3a5f;border:1px solid #1d4ed8;border-radius:6px;padding:6px 14px;font-family:'Courier New',monospace;font-size:13px;letter-spacing:2px;color:#93c5fd;font-weight:600}.sl-wl-empty{color:#475569;font-size:13px;font-style:italic}</style><div class=\"sl-wl\"><div class=\"sl-wl-title\">Authorized UIDs</div><div class=\"sl-wl-list\" ng-if=\"msg.payload && msg.payload.length > 0\"><div ng-repeat=\"uid in msg.payload track by $index\" class=\"sl-wl-chip\">{{uid}}</div></div><div class=\"sl-wl-empty\" ng-if=\"!msg.payload || msg.payload.length === 0\">No UIDs in whitelist — all access denied.</div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":500,"wires":[[]]},

  {"id":"fn-ready","type":"function","z":"sl-flow-tab","name":"fn-ready","func":"node.warn('SmartLock: READY signal received from Arduino');\nreturn null;","outputs":1,"x":520,"y":40,"wires":[[]]},

  {"id":"fn-init-wl","type":"inject","z":"sl-flow-tab","name":"init-whitelist","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"init","payloadType":"str","x":120,"y":580,"wires":[["fn-init-exec"]]},

  {"id":"fn-init-exec","type":"function","z":"sl-flow-tab","name":"fn-init-exec","func":"if (!flow.get('whitelist')) { flow.set('whitelist', ['4C8A285D']); }\nif (!flow.get('counts')) { flow.set('counts', {total:0, auth:0, denied:0}); }\nif (!flow.get('history')) { flow.set('history', []); }\nif (!flow.get('scanBuckets')) { flow.set('scanBuckets', {}); }\nvar wl = flow.get('whitelist');\nreturn {payload: wl};","outputs":1,"x":340,"y":580,"wires":[["ui-wl-display"]]}
]
